<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="">Lyrica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="lyricsfilter">
                    Lyrics Filter
                </NavLink>
            </li>
        </ul>
    </div>
</nav>
